<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="rgb(2, 141, 2)" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="favicon.png" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous"
  />
    <title>Restaurant Apps: Starter Project</title>
  </head>
  <body>
    <!-- START: Skip Content -->
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <!-- END: Skip Content -->

    <!-- START: Header-section -->
    <header>
      <!-- START: Navbar-section -->
      <navbar-section></navbar-section>
      <!-- END: Navbar-section -->

      <!-- START: Jumbotron-section -->
      <jumbotron-section></jumbotron-section>
      <!-- END: Jumbotron-section -->
    </header>
    <!-- END: Header-section -->
    <main id="mainContent"></main>
    <footer>
      <p>Copyright&copy; 2021 - Kuliner-an Apps</p>
    </footer>
  </body>

</html>
